:root {
    --marginBottom: 0 0 5px 0;
}

.title-bar {
    border: 3px solid blue;
    text-align: center;
    margin: var(--marginBottom);
}

.title-bar img {
    float: left;
    margin: 30px 0 0 5px;

}

.title-bar p {
    color:brown;
}

.nav-wrapper {
    border: 3px solid red;
    margin: var(--marginBottom);
    background-color: darkgreen;
}

.display-area {
    border: 3px solid yellow;
    width: 100%;
    min-height: 300px;
    margin: var(--marginBottom);
}

.page-footer {
    border: 3px solid black;
    text-align: center;
    background-color: brown;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 400px;
    width:100%;
}
      
/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}