:root {
    --marginBottom: 0 0 5px 0;
}

.title-bar {
    border: 3px solid blue;
    text-align: center;
    margin: var(--marginBottom);
}

.title-bar p {
    color:brown;

}

.nav-wrapper {
    border: 3px solid red;
    margin: var(--marginBottom);
}

.display-area {
    border: 3px solid yellow;
    width: 100%;
    min-height: 300px;
    margin: var(--marginBottom);
}

.page-footer {
    border: 3px solid black;
}